#wrapper {
	background-image: url('../../assets/img/launch-home.png');
	background-repeat: no-repeat;
	background-position: 0 140px;
	background-size: 400px;
	max-width: 1000px;
	height: 100vh;
	position: relative;
	margin: 0 auto;
}

header {
	margin-top: 20px;
}

main {
	position: absolute;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 35px;
}

@media only screen and (min-width: 600px) {
	main {
		right: 50px;
	}
}

#headerLogo {
	margin-left: 40px;
	width: 105px;
	margin-right: -10px;
}

.logo-label {
	font-size: 12px;
    letter-spacing: 0.05em;
}

#controls {
	text-align: right;
}

#sortButton, .reload, #filterSelect {
	background-color: #005388;
	color: white;
	font-weight: 500;
	font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
	border: none;
	padding: 5px 12px;
}

.reload {
	float: right;
	border-radius: 15px 0 0 15px;

	&::after {
		background-image: url(../../assets/icon/refresh.png);
		background-size: 10px 10px;
		width: 10px;
		height: 10px;
		content: '';
		display: inline-block;
		margin-left: 5px;
	}
}

#filterSelect {
	margin-right: 5px;
	padding-right: 25px;
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
	border-radius: 0px;
	background-image: url(../../assets/icon/select.png);
	background-size: 8px 4px;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}

#sortButton::after {
	background-image: url(../../assets/icon/sort.png);
	background-size: 10px 10px;
	width: 10px;
	height: 10px;
	content: '';
	display: inline-block;
	margin-left: 5px;
}

/* Retina images */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    #sortButton::after {
		background-image: url(../../assets/icon/sort@2x.png);
	}

	#filterSelect {
		background-image: url(../../assets/icon/select@2x.png);
	}

	.reload::after {
		background-image: url(../../assets/icon/refresh@2x.png);
	}
}