ul {
	width: 100%;
	padding: 0;
}

li {
	background-color: #fff;
	list-style-type: none;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 1px 3px #a2a2a2;
	margin-bottom: 5px;
	position: relative;
}

@media only screen and (min-width: 600px) {
	ul {
		width: 500px;
	}

	li {
		font-size: 24px;
	}
}

.flight-number {
	margin-right: 30px;
	margin-left: 10px;
	width: 40px;
	display: inline-block;
}

.launch-date {
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 10px;
}

.rocket-name {
	position: absolute;
	right: 10px;
	top: 23px;
	font-size: 16px;
	font-weight: 600;
}
